[submodule "utils"]
	path = utils
	url = ../utils.git
[submodule "tooling"]
	path = tooling
	url = ../tooling.git
[submodule "sweble"]
	path = sweble
	url = ../sweble.git
[submodule "sweble-wikitext"]
	path = sweble-wikitext
	url = ../sweble-wikitext.git
[submodule "parser-toolkit"]
	path = parser-toolkit
	url = ../parser-toolkit.git
[submodule "sweble-wom"]
	path = sweble-wom
	url = ../sweble-wom.git
